<style>
  @font-face {
    font-family: octicons-anchor;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.woff) format('woff');
  }

  * {
      box-sizing: border-box;
  }
  .tittle-row > h1:nth-child(1) {
	text-align
  }
 

</style>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PeriodicTable</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <h1>Tabela Periódica</h1>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
